---
layout: default
title: 博客
permalink: /blog/
---

<div class="container mtb">
  <div class="row">

    <! -- BLOG POSTS LIST -->
      <div class="col-lg-9">
        {% for post in site.categories['blog'] %}
        <div class="blog-list-container" id="allArticles">
          <! -- Blog Post -->
            <div class="row">
              <div class="col-lg-12">
                <a href="{{ post.url | prepend: site.baseurl }}">
                  <h3 class="ctitle">{{ post.title }}</h3>
                </a>
                <div class="post-meta"> {{post.author}}, {{ post.date | date: "%Y-%-m-%-d" }} </div>
              </div>

              <div class="{%if post.thumb%}col-lg-9{%else%}col-log-12{%endif%}">
                {{ post.excerpt }}
                <p><a href="{{ post.url | prepend: site.baseurl }}">[详情]</a></p>
              </div>
              {% if post.thumb %}
              <div class="col-lg-3">
                <img class="img-responsive"
                  src="{%if post.thumb contains 'http:' or post.thumb contains 'https:'%}{{post.thumb}}{%else%}{{"
                  /assets/img/blog/"|prepend: site.url}}{{post.thumb}}{%endif%}" />
              </div>
              {% endif %}
            </div>
            <div class="hline"></div>

            <div class="spacing"></div>
        </div>
        {% endfor %}

        {% for tag in site.tags %}
        {% assign t = tag | first %}
        {% assign posts = tag | last %}
        <div class="blog-list-container hidden" id="{{ t }}-container">
          {% for post in posts %}
          {% if post.tags contains t and post.categories contains 'blog' %}
          <! -- Blog Post -->
            <div class="row">
              <div class="col-lg-12">
                <a href="{{ post.url | prepend: site.baseurl }}">
                  <h3 class="ctitle">{{ post.title }}</h3>
                </a>
                <div class="post-meta"> {{post.author}}, {{ post.date | date: "%Y-%-m-%-d" }} </div>
              </div>

              <div class="{%if post.thumb%}col-lg-9{%else%}col-log-12{%endif%}">
                {{ post.excerpt }}
                <p><a href="{{ post.url | prepend: site.baseurl }}">[详情]</a></p>
              </div>
              {% if post.thumb %}
              <div class="col-lg-3">
                <img class="img-responsive"
                  src="{%if post.thumb contains 'http:' or post.thumb contains 'https:'%}{{post.thumb}}{%else%}{{"
                  /assets/img/blog/"|prepend: site.url}}{{post.thumb}}{%endif%}" />
              </div>
              {% endif %}
            </div>
            <div class="hline"></div>

            <div class="spacing"></div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}

      </div>
      <! --/col-lg-9 -->

        {% include sidebar.html %}

  </div>
  <! --/row -->
</div>
<! --/container -->