<div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>{{ site.about }}</p>
      </div>

      <div class="col-sm-6">
        <h4>Contact Us</h4>
        <div>
          <ul class="social">
            <li>
              <a href="mailto:sast@njupt.edu.cn"><i class="fa fa-envelope"></i> Mail to Us </a>
            </li>
            <li>
              <a href="https://github.com/NJUPT-SAST-Technology-Center"><i class="fa fa-github"></i> GitHub </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--/row -->
    <footer>Copyright © NJUPT.SAST 1992-{{ site.time | date: "%Y" }}</footer>
  </div>
  <!--/container -->
</div>
<!--/footerwrap -->