<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.about  }}">
    <link rel="shortcut icon" href="{{ "/assets/img/favicon.png" | prepend: site.url }}">
    <link type="application/atom+xml" rel="alternate" href="{{ "/feed.xml" | prepend: site.url }}"
        title="{{ site.title }}" />

    {% capture page_title %}{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}{% endcapture %}

    <title>{{ page_title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ "/assets/css/bootstrap.css" | prepend: site.url }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ "/assets/css/style.css" | prepend: site.url }}" rel="stylesheet">
    <link href="{{ "/assets/css/font-awesome.min.css" | prepend: site.url }}" rel="stylesheet">
    <link href="{{ "/assets/css/font-awesome-v4-shims.min.css" | prepend: site.url }}" rel="stylesheet">

    <script src="{{ "/assets/js/jquery.min.js" | prepend: site.url }}"></script>
    <script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.url }}"></script>
</head>