<div class="col-lg-3">
    <h4>分类</h4>
    <div class="hline"></div>
    {% for category in site.categories %}{% unless category.first == "blog" or category.first == "event" %}
    <p>
        <a href="{{ category.url }}"><i class="fa fa-angle-right"></i> {{ category | first | capitalize }}</a>
        <span class="badge badge-theme pull-right">{{ category | last | size }}</span>
    </p>
    {% endunless %}{% endfor %}

    <div class="spacing"></div>

    <h4>标签</h4>
    <div class="hline"></div>
    <ul>
        {% assign sorted_tags = site.tags | sort %}
        {% for tag in sorted_tags %}
        {% assign t = tag | first %}
        {% assign posts = tag | last %}
        <li id="{{ t }}-item" class="blog-tag-item">
            <a class="btn btn-theme" href onclick="filter('{{ t }}'); return false;" role="button">{{ t }}
                ({{ posts | size }})</a>
        </li>
        {% endfor %}
    </ul>
</div>