---
layout: default
---

<div class="container mtb">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <a href="{{ page.url | prepend: site.baseurl }}">
                <h1 class="ctitle">{{ page.title }}</h1>
            </a>
            <div class="post-meta"> {{page.author}} {{ page.date | date: "%Y-%-m-%-d" }} </div>
            <div id="shareButton" class="dropup">
                <button class="btn btn-default btn-lg dropdown-toggle" type="button"
                    id="shareList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-share-alt"></i>
                </button>
                <ul class="dropdown-menu" id="shareMenu" aria-labelledby="shareList">
                    <li><a id="shareItem" href="http://service.weibo.com/share/share.php?title={{ page.title }}&url={{ page.url | prepend: site.baseurl | prepend: site.url }}"
                            target="_blank">微博</a></li>
                    <li><a id="shareItem" href="https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&sharesource=qzone&summary={{ page.title }}"
                            target="_blank">QQ 空间</a></li>
                    <li><a id="shareItem" href="https://twitter.com/share?text={{ page.title }}&url={{ page.url | prepend: site.baseurl | prepend: site.url }}"
                            target="_blank">Twitter</a></li>
                </ul>
            </div>
            <div class="post-content">
                {{ content }}
            </div>
            <div class="spacing"></div>
        </div>
    </div>
</div>